{% extends "base.html" %}

{% block title %}Kontak - Planet Explorer{% endblock %}

{% block content %}
<h1 class="judul-halaman">Hubungi Kami</h1>
<p>Jika kamu punya pertanyaan, saran, atau ingin bekerja sama, hubungi kami melalui salah satu metode di bawah ini:</p>

<ul>
    <li>Email : ramdanhdyh20@gmail.com</li>
    <li>Instagram : <a href="https://www.instagram.com/rmdnhdyh20_?igsh=bnR2c25yd3lqaDFk" target="_blank">@rmdnhdyh20_</a></li>
    <li>WhatsApp : +62 ***</li>
</ul>

<p>Kami akan dengan senang hati membalas pesanmu secepat mungkin!</p>
{% endblock %}